@import 'reset.css';

* {
	user-select: none;
	color: white;
}

html, body, #root, .wrapper, .over {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

div, span, p {
	font-family: 'Source Sans Pro', sans-serif;
}

small {
	font-size: 1rem;
}

p {
	text-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

#root {
	background-image: url(/wordsearch/background.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.bttn {
    min-width: 70px;
    display: inline-block;
    background-color: cyan;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.bttn * {
    vertical-align: middle;
    cursor: pointer;
}

.bttn:active {
    transform: scale(1.1);
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.ico {
		width: 20px;
    display: inline-block;
    transition: .5s;
}

.bttn__txt {
    display: inline-block;
    width: 0px;
    overflow: hidden;
    transition: .5s;
}

.bttn--ico:hover .bttn__txt {
    width: 50px;
}

.bttn--ico:hover .ico {
    transform: scale(1.25);
}

.home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.home__title {
	font-family: Pepsi;
	font-size: 3rem;
	margin-bottom: 10rem;
}

.home__buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home__buttons > * {
	margin-bottom: 10px;
}

.wrapper--blurred {
	pointer-events: none;
	filter: blur(5px);
}

.options {
	position: absolute;
}

.options > * {
	margin-right: 10px;
}

.menu {
	width: 500px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	grid-gap: 1rem
}

.menu__title {
	width: 100%;
	display: flex;
	position: relative;
	justify-content: center;
	grid-row: 1;
	grid-column: 1 / span 2;
}

.menu__title__message {
	font-size: 1.5rem;
	font-weight: 600;
}

.menu__title__bttn {
	position: absolute;
	left: 0px;
}

.play__left {
	align-self: start;
}

.play__category {
	font-size: 2rem;
	font-weight: 600;
}

.play__buttons {
	display: flex;
	min-width: 260px;
	justify-content: space-between;
}

.play__mid {
	display: flex;
	align-items: center;
}

.board {
	display: grid;
	background-color: white;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.12);
	width: 95vw;
	height: 95vw;
}

.list__item {
	line-height: 1.5rem;
}

.list__item--hinted {
	color: rgba(255,255,255,0.4);
}

.board__cell {
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.5rem;
}

.board__cell:hover {
	color: blue;
	font-size: 2.3rem;
	transform: rotate(10deg);
	text-transform: capitalize;
	transition: .5s;
}

.board__cell:active {
	font-size: 1.8rem;
}

.board__cell--hilited {
	font-size: 1.7rem;
	text-transform: capitalize;
}

.board__cell--selected {
	color: blue;
	font-size: 1.8rem;
	transform: rotate(10deg);
	text-transform: capitalize;
}

.over {
	width: 100vw;
	height: 100vh;
	text-align: center;
	background-image: url(/wordsearch/fireworks.png);
}

.over__msg {
	width: 300px;
}

.over__msg__congrats {
	font-size: 1.2rem;
	margin-bottom: 2rem;
}

@media (min-width: 768px) {
	#root {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.board {
		width: 40vw;
		height: 40vw;
	}

	.play {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 80vw;
		height: 40vw;
	}

	.play__buttons {
		margin-top: 2rem;
	}

	.play__mid {
		padding-left: 5%;
		padding-right: 5%;
	}

	.play__right {
		width: 5rem;
	}
}

@font-face {
	font-family: Pepsi;
	src: url(/wordsearch/pepsi.ttf) format("truetype");
}
